h1 {
   color: #339933;
   border-style: solid;
   border-width: medium;
   height: 40px;
   margin-bottom: 20px;
}

head {
    border-width: thin;
}

h1 {
    font-family: "Times New Roman", Times, serif;
}

h2 {
    font-family: "Times New Roman", Times, serif;
}

p {
  font-family: "Times New Roman", Times, serif;
}

/*
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

li:last-child {
  border-right: none;
}*/